/* Add other imports or styles below if needed */

#logo{
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    font-size: 1.7em;
}

#home-container{
    padding: 40px;
}

.jumbotron{
    background-image: asset-url('k-mitch-hodge-IqSaG9zv2e0-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    height: 500px;
}

html,
body {
    height: 100%;
  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  /* Other Classes for Page Styling */
  
  body {
    background-color: rgb(192, 192, 192);
  }

  #sticky-footer{
    flex-shrink: none;
  }